{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <section class="d-flex w-100 h-100">
        <div class="w-25 h-100 sidebar-wrapper">
            {% include 'home/sidebar.html.twig' %}
        </div>
        <div class="w-75 swipe-wrapper overflow-auto">
            <header class="d-flex row align-content-end w-100">
                <div class="col-12 d-flex justify-content-between align-items-center profile-header">
                    <a href="{{ path('app_home_index') }}"><i class="fas fa-arrow-left fa-xl"></i></a>
                    <i class="fas fa-user fa-xl text-primary text-center"></i>
                    <a href="{{ path('app_profile_offer') }}"><i class="fas fa-fire fa-xl"></i></a>
                </div>
            </header>
            <div class="user-profile">
                {% if user.image[0] %}
                    {% if user.image starts with 'people_images/' %}
                        <img src="{{ asset(user.image[0]) }}" alt="{{ user.firstname }}" class="rounded-circle w-25"/>
                    {% elseif user.image[0] starts with 'https' or user.image[0] starts with 'http' %}
                        <img src="{{ user.image[0] }}" alt="{{ user.firstname }}" class="rounded-circle w-25"/>
                    {% else %}
                        <img src="{{ asset('uploads/profile_images/' ~ user.image[0]) }}" alt="Profile Picture" class="rounded-circle w-25">
                    {% endif %}
                {% endif %}
                <h1 class="text-justify w-50 mx-auto text-center">{{ user.firstname }} {{ user.lastname }}, {{ user.age }}</h1>

                <div class="actions">
                    <a class="action" href="{{ path('app_profile_settings') }}">
                        <i class="fas fa-cog fa-2x"></i>
                        <p>{{ 'profile.actions.settings'|trans }}</p>
                    </a>
                    <a class="action" href="{{ path('app_profile_media') }}">
                        <div>
                            <i class="media fas fa-camera fa-2x"></i>
                            <i class="more fas fa-plus fa-2x"></i>
                        </div>
                        <p>{{ 'profile.actions.add'|trans }}</p>
                    </a>
                    <a class="action" href="{{ path('app_profile_edit') }}">
                        <i class="fas fa-pencil-alt fa-2x"></i>
                        <p>{{ 'profile.actions.edit'|trans }}</p>
                    </a>
                </div>

                <p class="text-muted w-50 mx-auto mt-3 text-justify text-center text-break text-wrap text-truncate">{{ user.bio }}</p>

                {% if user.offer.name == 'Basic' %}
                    <div class="tinder-plus">
                        <h2 class="h1">
                            <i class="fas fa-bolt"></i>
                            Get Matches Faster
                        </h2>
                        <p>Get unlimited likes with Tinder Plus</p>
                        <p>Boost your profile once per month</p>
                        <p>Control your profile visibility</p>
                        <a href="{{ path('app_profile_offer') }}">
                            Get tinder plus
                        </a>
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
{% endblock %}