{% extends 'profile/profileBase.html.twig' %}

{% block title %}Tindoo - {{ 'pages.profile'|trans }}{% endblock %}

{% block section %}
    <div class="user-profile">
        {% if app.user.profilePicture %}
            {% if app.user.profilePicture starts with 'people_images/' %}
                <img src="{{ asset(app.user.profilePicture) }}" alt="{{ app.user.firstname }}"
                     class="rounded-circle w-25"/>
            {% elseif app.user.profilePicture starts with 'https' or app.user.profilePicture starts with 'http' %}
                <img src="{{ app.user.profilePicture }}" alt="{{ app.user.firstname }}" class="rounded-circle w-25"/>
            {% else %}
                <img src="{{ asset('uploads/profile_images/' ~ app.user.profilePicture) }}" alt="Profile Picture"
                     class="rounded-circle w-25">
            {% endif %}
        {% endif %}
        <h1 class="text-justify w-50 mx-auto my-3 text-center">{{ app.user.firstname }} {{ app.user.lastname }}
            , {{ app.user.age }}</h1>

        <div class="actions">
            <a class="action" href="{{ path('app_profile_settings') }}">
                <i class="fas fa-cog fa-2x"></i>
                <p>{{ 'profile.actions.settings'|trans }}</p>
            </a>
            <a class="action" href="{{ path('app_profile_edit') }}">
                <i class="fas fa-pencil-alt fa-2x"></i>
                <p>{{ 'profile.actions.edit'|trans }}</p>
            </a>
            {# if user is admin, link to admin dashboard #}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="action" href="{{ path('admin') }}">
                    <i class="fas fa-user-shield fa-2x"></i>
                    <p>{{ 'profile.actions.admin'|trans }}</p>
                </a>
            {% endif %}
        </div>

        <p class="text-muted w-50 mx-auto mt-3 text-justify text-center text-break text-wrap text-truncate">{{ app.user.bio }}</p>

        <div class="p-5 d-flex flex-column w-100">
            <div class="d-flex mb-4 ">
                <h2 class="">Images</h2>
                <form action="{{ path('app_profile_upload_image') }}" method="post" enctype="multipart/form-data"
                      class="d-flex w-100 flex-column">
                    <input type="file" name="profile_image" accept="image/*" required onchange="this.form.submit()">
                    <input type="hidden" name="isAdditiveImage" value="true">
                </form>
            </div>
            <div class="user-images d-flex w-100 flex-row">
                {% for image in app.user.additiveImages %}
                    {% if image starts with 'people_images/' %}
                        <img src="{{ asset(image) }}" alt="{{ user.firstname }}"/>
                    {% elseif image starts with 'https' or image starts with 'http' %}
                        <img src="{{ image }}" alt="{{ user.firstname }}"/>
                    {% else %}
                        <img src="{{ asset('uploads/profile_images/' ~ image) }}" alt="Profile Picture">
                    {% endif %}

                    <form action="{{ path('app_profile_delete_image') }}" method="post" class="delete-image-form">
                        <input type="hidden" name="image" value="{{ image }}">
                        <i class="fa-solid fa-trash" onclick="this.closest('form').submit();"></i>
                    </form>
                {% endfor %}
            </div>
        </div>

        {% if app.user.offer.name == 'Basic' %}
            <div class="tinder-plus">
                <h2 class="h1">
                    <i class="fas fa-bolt mx-2"></i>
                    {{ 'offers.buy.title'|trans }}
                </h2>
                <p>{{ 'offers.buy.paragraphs.1'|trans }}</p>
                <p>{{ 'offers.buy.paragraphs.2'|trans }}</p>
                <p>{{ 'offers.buy.paragraphs.3'|trans }}</p>
                <a href="{{ path('app_offer_index') }}">
                    {{ 'offers.buy.obtain'|trans }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}