{% extends 'profile/profileBase.html.twig' %}

{% block title %}Tindoo - {{ 'pages.profile_settings'|trans }}{% endblock %}

{% block section %}
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-avatar">
                {% if app.user.profilePicture %}
                    {% if app.user.profilePicture starts with 'people_images/' %}
                        <img src="{{ asset(app.user.profilePicture) }}" alt="{{ app.user.firstname }}"/>
                    {% elseif app.user.profilePicture starts with 'https' or app.user.profilePicture starts with 'http' %}
                        <img src="{{ app.user.profilePicture }}" alt="{{ app.user.firstname }}"/>
                    {% else %}
                        <img src="{{ asset('uploads/profile_images/' ~ app.user.profilePicture) }}" alt="Profile Picture">
                    {% endif %}
                {% endif %}
            </div>
            <div class="profile-info">
                <h3>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                <p>{{ app.user.email }}</p>
            </div>
        </div>

        <div class="profile-actions">
            <h4>{{ 'profile.account.settings'|trans }}</h4>
            <div class="action-buttons">
                <a href="{{ path('app_profile_update_password') }}" class="btn btn-outline-primary">
                    <i class="fas fa-lock"></i> {{ 'profile.changePassword'|trans }}
                </a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">
                    <i class="fas fa-sign-out-alt"></i> {{ 'logout'|trans }}
                </a>
            </div>
        </div>

        <div class="language-settings mt-4">
            <h4>{{ 'profile.account.language'|trans }}</h4>
            <form action="{{ path('app_profile_update_language') }}" method="post" class="form-inline">
                <label for="language" class="mr-2"></label>
                <select name="language" id="language" class="form-control mr-2">
                    {% for language in availableLanguages %}
                        <option value="{{ language.value }}" {% if language.value == app.user.language %}selected{% endif %}>{{ language.value }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-language"></i> {{'profile.changeLanguage'|trans }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
