{% extends 'base.html.twig' %}

{% block title %}Tindoo - {{ 'pages.update_password'|trans }}{% endblock %}

{% block body %}
    <div class="change-password-container">
        <h1>{{ 'profile.changePassword'|trans }}</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(updatePasswordForm) }}
            <div class="form-group">
                {{ form_label(updatePasswordForm.currentPassword) }}
                {{ form_widget(updatePasswordForm.currentPassword) }}
                {{ form_errors(updatePasswordForm.currentPassword) }}
            </div>
            <div class="form-group">
                {{ form_label(updatePasswordForm.newPassword) }}
                {{ form_widget(updatePasswordForm.newPassword) }}
                {{ form_errors(updatePasswordForm.newPassword) }}
            </div>
            <div class="form-group">
                {{ form_label(updatePasswordForm.confirmNewPassword) }}
                {{ form_widget(updatePasswordForm.confirmNewPassword) }}
                {{ form_errors(updatePasswordForm.confirmNewPassword) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn  btn-primary">{{ 'profile.changePassword'|trans }}</button>
                <a href="{{ path('app_profile_index') }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
            </div>
        {{ form_end(updatePasswordForm) }}
    </div>
{% endblock %}