<a href="{{ path('app_home_suggestion') }}" class="position-absolute end-0 m-4 z-3">
    <button class="btn btn-info">Find suggested user</button>
</a>
<button class="btn btn-danger position-absolute m-4 z-3" onclick="window.location.reload()"><i
            class="fa-solid fa-arrows-rotate"></i></button>

<div class="tinder">
    <div class="tinder--status">
        <i class="fa fa-remove"></i>
        <i class="fa fa-heart"></i>
    </div>
    {% if users|length > 0 %}
        <div class="tinder--cards">
            {% for user in users %}
                <div class="tinder--card">
                    {% if user.image %}
                        {% if user.image starts with 'people_images/' %}
                            <img src="{{ asset(user.image) }}" alt="user_image_{{ user.id }}"/>
                        {% else %}
                            <img src="{{ asset('uploads/profile_images/' ~ user.image) }}"
                                 alt="user_image_{{ user.id }}">
                        {% endif %}
                    {% endif %}
                    <h3>{{ user.firstname }}, {{ user.age }}</h3>
                    <p>{{ user.bio }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <h1>No more users to show</h1>
            <p>You have seen all the users in the database. Please come back later.</p>
        </div>
    {% endif %}

    {% if users|length > 0 %}
        <div class="tinder--buttons">
            <button id="nope"><i class="fa fa-remove"></i></button>
            <button id="love"><i class="fa fa-heart"></i></button>
        </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        "use strict";

        let tinderContainer = document.querySelector(".tinder");
        let allCards = document.querySelectorAll(".tinder--card");
        let nope = document.getElementById("nope");
        let love = document.getElementById("love");

        function initCards() {
            let newCards = document.querySelectorAll(".tinder--card:not(.removed)");

            newCards.forEach(function (card, index) {
                card.style.zIndex = allCards.length - index;
                card.style.transform =
                    "scale(" + (20 - index) / 20 + ") translateY(-" + 30 * index + "px)";
                card.style.opacity = (10 - index) / 10;
            });

            tinderContainer.classList.add("loaded");

            if (newCards.length === 5) {
                fetchMoreUsers();
            }
        }

        function fetchMoreUsers() {
            fetch('/home/refresh')
                .then(response => response.text())
                .then(html => {
                    let tempDiv = document.createElement('div');
                    tempDiv.innerHTML = html;
                    let newUsers = tempDiv.querySelectorAll('.tinder--card');
                    newUsers.forEach(user => {
                        tinderContainer.querySelector('.tinder--cards').appendChild(user);
                    });
                    allCards = document.querySelectorAll(".tinder--card");
                    initCards();
                })
                .catch(error => console.error('Error fetching more users:', error));
        }

        initCards();

        allCards.forEach(function (el) {
            let hammerTime = new Hammer(el);

            hammerTime.on("pan", function () {
                el.classList.add("moving");
            });

            hammerTime.on("pan", function (event) {
                if (event.deltaX === 0) return;
                if (event.center.x === 0 && event.center.y === 0) return;

                tinderContainer.classList.toggle("tinder_love", event.deltaX > 0);
                tinderContainer.classList.toggle("tinder_nope", event.deltaX < 0);

                let xMulti = event.deltaX * 0.03;
                let yMulti = event.deltaY / 80;
                let rotate = xMulti * yMulti;

                event.target.style.transform =
                    "translate(" +
                    event.deltaX +
                    "px, " +
                    event.deltaY +
                    "px) rotate(" +
                    rotate +
                    "deg)";
            });

            hammerTime.on("panend", function (event) {
                el.classList.remove("moving");
                tinderContainer.classList.remove("tinder_love");
                tinderContainer.classList.remove("tinder_nope");

                let moveOutWidth = document.body.clientWidth;
                let keep = Math.abs(event.deltaX) < 80 || Math.abs(event.velocityX) < 0.5;

                if (keep) {
                    event.target.style.transform = "";
                } else {
                    let endX = Math.max(
                        Math.abs(event.velocityX) * moveOutWidth,
                        moveOutWidth
                    );
                    let toX = event.deltaX > 0 ? endX : -endX;
                    let endY = Math.abs(event.velocityY) * moveOutWidth;
                    let toY = event.deltaY > 0 ? endY : -endY;
                    let xMulti = event.deltaX * 0.03;
                    let yMulti = event.deltaY / 80;
                    let rotate = xMulti * yMulti;

                    event.target.style.transform =
                        "translate(" +
                        toX +
                        "px, " +
                        (toY + event.deltaY) +
                        "px) rotate(" +
                        rotate +
                        "deg)";
                    sendSwipeRequest(event.deltaX > 0 ? 'like' : 'dislike');
                    event.target.remove();
                    initCards();
                }
            });
        });

        function createButtonListener(love) {
            return function (event) {
                let cards = document.querySelectorAll(".tinder--card:not(.removed)");
                let moveOutWidth = document.body.clientWidth * 1.5;

                if (!cards.length) return false;

                let card = cards[0];

                card.classList.add("removed");

                if (love) {
                    card.style.transform = "translate(" + moveOutWidth + "px, -100px) rotate(-30deg)";
                    sendSwipeRequest('like');
                } else {
                    card.style.transform = "translate(-" + moveOutWidth + "px, -100px) rotate(30deg)";
                    sendSwipeRequest('dislike');
                }

                card.remove();
                initCards();

                event.preventDefault();
            };
        }

        let nopeListener = createButtonListener(false);
        let loveListener = createButtonListener(true);

        nope.addEventListener("click", nopeListener);
        love.addEventListener("click", loveListener);

        function sendSwipeRequest(direction) {
            const csrfToken = document.querySelector('meta[name="csrf-token"]');
            const slidedUserId = document.querySelector('.tinder--card img').alt.split('_').pop();
            fetch('/home/slide', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken.getAttribute('content')
                },
                body: JSON.stringify({direction: direction, slidedUserId: slidedUserId})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'match') {
                        showMatchPopup(data.discussionId);
                    }
                })
                .catch(error => console.error('Error sending swipe request:', error));
        }
    });

    function showMatchPopup(discussionId) {
        const overlay = document.createElement('div');
        overlay.className = 'overlay';
        document.body.appendChild(overlay);

        const popup = document.createElement('div');
        popup.className = 'popup';
        popup.innerHTML = `
        <div class="popup-content">
            <h1>IT'S A MATCH!</h1>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/discussion/${discussionId}'">Go to chat</button>
        </div>
    `;
        document.body.appendChild(popup);

        setTimeout(() => {
            overlay.classList.add('show');
            popup.classList.add('show');
        }, 10);

        setTimeout(() => {
            popup.classList.remove('show');
            overlay.classList.remove('show');
            setTimeout(() => {
                popup.remove();
                overlay.remove();
            }, 500);
        }, 3000);
    }
</script>