{% extends 'base.html.twig' %}

{% block title %}Tindoo - {{ 'pages.discussion'|trans }}{% endblock %}

{% block body %}
    <section class="d-flex w-100 h-100">
        <div class="w-25 h-100 sidebar-wrapper">
            {% include 'home/sidebar.html.twig' %}
        </div>
        <div class="w-75 h-100 bg-white discussion-container">
            <header class="infos p-0">
                <div class="header-wrapper">
                    <a href="{{ path('app_home_index') }}" class="btn btn-outline-secondary">
                        <i class="fas fa-arrow-left"></i>
                        {{ 'discussion.goBack'|trans }}
                    </a>

                    <div class="profile-info">
                        {% if discussion.userTwo.image[0] %}
                            <a href="{{ path('app_user_show', {id: discussion.userTwo.id, redirect_url: path('app_discussion_index', {id: discussion.id})}) }}">
                                {% if discussion.userTwo.image[0] starts with 'people_images/' %}
                                    <img src="{{ asset(discussion.userTwo.image[0]) }}" alt="{{ discussion.userTwo.firstname }}" class="rounded-5"/>
                                {% elseif discussion.userTwo.image[0] starts with 'https' or discussion.userTwo.image[0] starts with 'http' %}
                                    <img src="{{ discussion.userTwo.image[0] }}" alt="{{ discussion.userTwo.firstname }}" class="rounded-5"/>
                                {% else %}
                                    <img src="{{ asset('uploads/profile_images/' ~ discussion.userTwo.image[0]) }}" alt="Profile Picture" class="rounded-5">
                                {% endif %}
                            </a>
                        {% endif %}
                        <div>
                            <div class="user-name">{{ discussion.userTwo.firstname }} {{ discussion.userTwo.lastname }}</div>
                            <div class="status">
                                <span class="online-indicator"></span>{{ 'discussion.online'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            {% if discussion.isApproved == false and isCurrentUserDemanding == false %}
                <div class="alert alert-warning d-flex justify-content-between align-items-center">
                    <p class="mb-0">{{ 'discussion.notApproved'|trans }}</p>
                    <div>
                        <form action="{{ path('app_discussion_manage') }}" method="POST" class="d-inline">
                            <input type="hidden" name="action" value="{{ 1 }}">
                            <input type="hidden" name="discussion_id" value="{{ discussion.id }}">
                            <button type="submit" class="btn btn-outline-warning">{{ 'discussion.approve'|trans }}</button>
                        </form>
                        <form action="{{ path('app_discussion_manage') }}" method="POST" class="d-inline">
                            <input type="hidden" name="action" value="{{ 0 }}">
                            <input type="hidden" name="discussion_id" value="{{ discussion.id }}">
                            <button type="submit" class="btn btn-danger">{{ 'discussion.decline'|trans }}</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            <div class="messages {% if discussion.isApproved == false and isCurrentUserDemanding == false %}toApproveMessages{% endif %}">
                {% for message in discussion.messages %}
                    <div class="d-flex {% if message.author == app.user %}justify-content-end{% else %}justify-content-start{% endif %} mb-3">
                        <div class="message p-3 {% if message.author == app.user %}user-message{% else %}other-message{% endif %} position-relative">
                            <div class="message-content mb-2">
                                {{ message.content }}
                            </div>
                            <div class="message-date small fw-bold {% if message.author == app.user %} text-white{% else %} text-muted {% endif %}">
                                {{ message.getCreationDate|date('Y-m-d H:i') }}
                            </div>
                            {% if message.author.image and message.author.image[0] %}
                                {% if message.author.image[0] starts with 'people_images/' %}
                                    <img src="{{ asset(message.author.image[0]) }}" alt="{{ message.author.firstname }}" class="rounded-circle position-absolute"
                                         style="width: 30px; height: 30px; top: -15px; right: -15px; border: 2px solid white;"/>
                                {% elseif message.author.image[0] starts with 'https' or message.author.image[0] starts with 'http' %}
                                    <img src="{{ message.author.image[0] }}" alt="Author's profile picture"
                                         class="rounded-circle position-absolute"
                                         style="width: 30px; height: 30px; top: -15px; right: -15px; border: 2px solid white;">
                                {% else %}
                                    <img src="{{ asset('uploads/profile_images/' ~ message.author.image[0]) }}" alt="Profile Picture" class="rounded-circle position-absolute"
                                         style="width: 30px; height: 30px; top: -15px; right: -15px; border: 2px solid white;">
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="message-form {% if discussion.isApproved == false and isCurrentUserDemanding == false %}toApproveMessages{% endif %}">
                <form action="{{ path('app_discussion_send') }}" method="post" class="d-flex gap-2">
                    <input type="hidden" name="discussion_id" value="{{ discussion.id }}">
                    <input type="text" name="message" class="form-control" placeholder="Type a message" {% if discussion.isApproved == false and isCurrentUserDemanding == false %}disabled{% endif %}>
                    <button type="submit" class="btn btn-primary">{{ 'discussion.send'|trans }}</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
