{% extends 'profile/profileBase.html.twig' %}

{% block title %}Tindoo - {{ 'pages.offers'|trans }}{% endblock %}

{% block section %}
    <h1 class="text-primary text-center offer-title">{{ 'offers.choose'|trans }} !</h1>
    <div class="row mt-5 mx-auto offer-grid w-100">
        {% for offer in offers %}
            <div class="col">
                <h2 class="text-center">{{ offer.name }}</h2>
                <div class="info">
                    <p>{{ offer.likeNumber == -1 ? '✅ ' ~ 'offers.unlimitedLike'|trans : '➕ ' ~ offer.likeNumber ~ ' ' ~ 'offers.likePerDay'|trans }} </p>
                    {% if offer.directMessageNumber != 0 %}
                    <p>{{ offer.directMessageNumber == -1 ? '✅ Messages direct illimité' : '➕ ' ~ offer.directMessageNumber ~ ' ' ~ 'offers.directMessage'|trans }} </p>
                    {% endif %}
                    <p>💰 {{ offer.price == 0 ? 'offers.free'|trans : offer.price ~ 'offers.amount'|trans }} </p>
                </div>
                {% if app.user.offer.name == offer.name %}
                    <div class="d-flex justify-content-center mt-5">
                        <div class="check-succes bg-success">
                            <i class="fa-solid fa-check fs-4 text-light"></i>
                        </div>
                    </div>
                {% elseif app.user.offer.name != offer.name and offer.name != 'Basic' and app.user.offer.name != 'Pro' %}
                    <div class="d-flex justify-content-center mt-5">
                        <div class="check-succes">
                            <form action="{{ path('app_offer_pay') }}" method="POST" class="d-inline">
                                <input type="hidden" name="offer_id" value="{{ loop.index }}">
                                <button type="submit" class="btn btn-outline-info fs-4">{{ 'offers.actions.choose'|trans }}</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}