{% extends 'profile/profileBase.html.twig' %}

{% block title %}Tindoo - {{ 'pages.offer_payment'|trans }}{% endblock %}

{% block section %}
    <h1 class="text-primary text-center mb-4 mt-3">Paiement</h1>

    <section class="d-flex mx-5">
        <div class="w-50 mx-4 p-4 border">
            <h2 class="text-center">{{ offer.name }}</h2>
            <div class="info text-center mt-5">
                <p>{{ offer.likeNumber == -1 ? '✅ ' ~ 'offers.unlimitedLike'|trans : '➕ ' ~ offer.likeNumber ~ ' ' ~ 'offers.likePerDay'|trans }} </p>
                {% if offer.directMessageNumber != 0 %}
                <p>{{ offer.directMessageNumber == -1 ? '✅ Messages direct illimité' : '➕ ' ~ offer.directMessageNumber ~ ' ' ~ 'offers.directMessage'|trans }} </p>
                {% endif %}
                <p>💰 {{ offer.price == 0 ? 'offers.free'|trans : offer.price ~ 'offers.amount'|trans }} </p>
            </div>
        </div>

        <div class="cardStripe d-flex w-50 align-items-center">
            <form id='checkout-form' method='post' action="{{ path('app_offer_charge') }}">
                <input type='hidden' name='stripeToken' id='stripe-token-id'>
                <div id="card-element" class="form-control"></div>
                <input type="hidden" name="offer_id" value="{{ offer.id }}">
                <button id='pay-btn' class="btn btn-success fs-4 mx-5" type="button"
                        onclick="createToken()">{{ 'pay'|trans }}</button>
            </form>
        </div>
    </section>



    <div class="d-flex justify-content-center mt-5">
        <a href="{{ path('app_offer_index') }}" class="btn btn-outline-info mx-5">{{ 'goBack'|trans }}</a>
        <form action="{{ path('app_offer_change') }}" method="POST" class="d-inline">
            <input type="hidden" name="offer_id" value="{{ offer.id }}">
            <button type="submit" class="btn btn-warning mx-5">{{ 'pay'|trans }} FAKE</button>
        </form>
    </div>


    <script>

        let stripe = Stripe("{{ stripe_key }}");
        let elements = stripe.elements();
        let cardElement = elements.create('card');
        cardElement.mount('#card-element');

        function createToken() {
            document.getElementById("pay-btn").disabled = true;
            stripe.createToken(cardElement).then(function (result) {
                console.log(result);
                if (typeof result.token != 'undefined') {
                    document.getElementById("stripe-token-id").value = result.token.id;
                    document.getElementById('checkout-form').submit();
                }
            });
        }
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}