{% block userCard %}
    <div class="user">
        <div class="user-header">
            <div class="user-image">
                {% if user.image and user.image[0] %}
                    {% if user.image[0] starts with 'people_images/' %}
                        <img src="{{ asset(user.image[0]) }}" alt="{{ user.firstname }}"/>
                    {% elseif user.image[0] starts with 'https' or user.image[0] starts with 'http' %}
                        <img src="{{ user.image[0] }}" alt="{{ user.firstname }}"/>
                    {% else %}
                        <img src="{{ asset('uploads/profile_images/' ~ user.image[0]) }}" alt="Profile Picture">
                    {% endif %}
                {% endif %}
                <h1>{{ user.firstname }} {{ user.lastname }}, {{ user.age }} {{ 'profile.years'|trans }}</h1>
            </div>
            <p class="user-bio">
                {{ user.bio }}
            </p>
            <p class="user-interests">
                {{ 'profile.interests'|trans }}:
                {% for interest in user.interests %}
                    <span class="badge bg-primary">{{ interest }}</span>
                {% endfor %}
            </p>
        </div>
        {% if canUpdate %}
            <form action="{{ path('app_profile_upload_image') }}" method="post" enctype="multipart/form-data" class="user-images">
        {% else  %}
            <div class="user-images">
        {% endif %}

            {% for image in user.image %}
                {% if image starts with 'people_images/' %}
                    <img src="{{ asset(image) }}" alt="{{ user.firstname }}"/>
                {% elseif image starts with 'https' or image starts with 'http' %}
                    <img src="{{ image }}" alt="{{ user.firstname }}"/>
                {% else %}
                    <img src="{{ asset('uploads/profile_images/' ~ image) }}" alt="Profile Picture">
                {% endif %}
            {% endfor %}

            {% if canUpdate %}
                <input type="file" name="profile_image" accept="image/*" required onchange="this.form.submit()">
            </form>
            {% else %}
            </div>
            {% endif %}
    </div>

    <script>
        document.getElementById('imageInput').addEventListener('change', function() {
            document.getElementById('uploadForm').submit();
        });
    </script>
{% endblock %}
