<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ 'emails.registration.title'|trans }}</title>
</head>
<body>
    <h1>{{ 'emails.registration.welcome'|trans }} Tindoo, {{ user.firstname }} {{ user.lastname }} !</h1>
    <p>{{ 'emails.registration.message'|trans }}:</p>
    <p>
        <a href="{{ url('app_account_confirmation', { 'token': user.verificationToken }) }}">
            {{ 'emails.registration.confirm'|trans }}
        </a>
    </p>
    <p>{{ 'emails.registration.skip'|trans }}</p>
    <p>{{ 'emails.registration.regards'|trans }},<br>{{ 'emails.registration.team'|trans }}</p>
</body>
</html>