{% extends 'base.html.twig' %}

{% block title %}{{ 'errors.404.title'|trans }}{% endblock %}

{% block body %}

    <div class="error-container">
        <h1>{{ 'errors.404.title'|trans }}</h1>
        {{ dump(exception) }}
        <p style="color:red;">{{ exception.message }}</p>
        <p>{{ 'errors.404.message'|trans }}</p>
        <a href="{{ path('app_profile_index') }}" class="go-back">{{ 'errors.actions.home'|trans }}</a>
    </div>
{% endblock %}